@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Fira+Sans&family=Raleway&family=Rubik&family=Source+Code+Pro:wght@300&display=swap');

/* SASS Template */

@import './include/variables';
@import './include/global';
@import './include/typography';
@import './include/color';
@import './include/dropdown';
