$font-baloo:'Baloo Thambi 2', cursive;
$font-Firasans: 'Fira Sans', sans-serif;
$font-raleway: 'Raleway', sans-serif;
$font-rubik: 'Rubik', sans-serif;
$font-scp: 'Source Code Pro', monospace;


$color-primary:#003859;
$color-second:#00A5C4;
$color-yellow:#FFD289;